html {
  /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
  font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  color: inherit;
}

body {
  background-color: #a6c0d5;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

.btn {
  background-color: #fbe400;
  padding: 10px 40px;
  margin: 20px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: grey 2px 2px 4px;
  width: 100%;
}

.main-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 400px;
  margin: 0px auto;
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: white;
  border-radius: 12px;
}

.percent {
  background-color: #fbe400;
  height: 30px;
  border-radius: 12px;
}

.image-box {
  margin-top: 60px;
}
